/target
/target/
/target/classes/
/target/classes
/target/classes/META-INF
/.tern-project
/.tern-project/
/src/main/resources/config.properties
/.classpath
/.project
/.myhibernatedata
/.settings
/.idea
/.idea/
/bin/
